<div id="follow_form">
  <% if following.new_record? %>
    <%= render "follow", following: following, user: user %>
  <% else %>
    <%= render "unfollow", following: following %>
  <% end %>
</div>
