# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 25723b5496cb434006284105fe41dbd4ef1fe922bef4cddc68e9a84c2d28be128c62646a85f866e565194d9c5899333b105e7e2ad23ae1cc0a1f66a61af5ccb2

test:
  secret_key_base: b54e0808bd48c8d3f29302b5c37741d4936afbd6a73f99c699a334f3c5fb5aa681e1c8a15ac4184746c9eceab96a7e9786361eb5ae57e2207f13642a8f43a449

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
