@import 'bootstrap-sprockets';
@import 'bootstrap';

$blue: #00afff;
$blue-gray-d4: #d4d4d5;
$color-card-footer: rgba(0, 0, 0, .4);
$color-border-card-footer: rgba(0, 0, 0, .05);
$color-card-box-shadow: #e5e6e7;
$color-card-text: rgba(0, 0, 0, .68);
$color-meta: rgba(0, 0, 0, .4);
$color-meta-a: rgba(0, 0, 0, .4);
$gray-medium-light: #eaeaea;
$main-bg: #edeff0;
$opacity-gray: rgba(34, 36, 38, .1);
$white: #fff;
$gray: #808080;
$blue: #00f;

body {
  padding-top: 40px;
}

.logo {
  color: $white;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

footer {
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: center;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.users {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}

.tab {
  padding-left: 10px;
}

.main {
  margin-top: 50px;
}

.meta {
  color: $color-meta;
  font-size: 1em;

  a {
    color: $color-meta-a;
    text-decoration: none;

    &:hover {
      color: $blue;
    }
  }
}

.card {
  background-color: $white;
  border: 0;
  border-radius: .28571429rem;
  box-shadow: .2em .3em .7em $color-card-box-shadow;
  font-size: 1em;
  overflow: hidden;
  padding: 0;

  .card-block {
    border: 0;
    border-top: 1px solid $opacity-gray;
    box-shadow: none;
    font-size: 1em;
    margin: 0;
    padding: 0 1em 1.5em;
    position: relative;

    .text-bold {
      font-weight: 700;
    }

    .card-title {
      font-size: 1.28571429em;
      font-weight: 700;
      line-height: 1.2857em;
    }

    .card-text {
      clear: both;
      color: $color-card-text;
      margin-top: .2em;
    }
  }

  .card-img-top {
    display: block;
    height: auto;
    width: 100%;
  }

  .card-footer {
    background: $white;
    border-top: 1px solid $white !important;
    color: $color-card-footer;
    font-size: 1em;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    position: static;
    top: 0;
  }
}

.stats {
  margin-top: 0;
  overflow: auto;
  padding: 0;

  a {
    border-left: 1px solid $gray-lighter;
    color: $gray;
    float: left;
    padding: 0 10px;

    &:first-child {
      border: 0;
      padding-left: 0;
    }

    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }

  strong {
    display: block;
  }
}

$panel-heading-color: #f7f7f7;
$panel-heading-color-border: #ddd;
@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

.thumbnail {
  border: 0;
  padding: 0;

  img {
    box-shadow: .2em .3em .4em $color-card-box-shadow;
  }
}

.panel {
  position: relative;

  .panel-heading {

    &::before {
      border-right-color: $panel-heading-color-border;
      border-width: 8px;
    }

    &::after {
      border-right-color: $panel-heading-color;
      border-width: 7px;
      margin-left: 2px;
      margin-top: 1px;
    }

    &::after,
    &::before {
      border-color: transparent;
      border-style: solid solid outset;
      content: ' ';
      display: block;
      height: 0;
      left: -16px;
      pointer-events: none;
      position: absolute;
      right: 100%;
      top: 11px;
      width: 0;
    }
  }
}

$text-danger-color: #ff0342;

.text-danger {
  color: $text-danger-color;
}

.btn-heart {
  background-color: transparent;
  border: 0;
}
