<div class="row">
  <div class="col-md-9">
    <div class="primary-content">
      <div class="row">
        <div class="col-sm-12">
          <%= render "form", product: @product, category: @supports.category %>
        </div>
      </div>
    </div>
  </div>
</div>
