<div class="row">
  <div class="col-md-9">
    <div class="panel panel-success">
      <div class="panel-body">
        <%= image_tag @product.product_image.url(:thumb) %>
        <%= @product.title %>
        <%= number_to_currency @product.price %>
        <%= @product.description %>
      </div>
    </div>
  </div>
</div>
